@font-face {
    font-family: 'Rajdhani Regular';
    src: url('../fuentes/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: 'Rajdhani Medium';
    src: url('../fuentes/Rajdhani-Medium.ttf');
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fuentes/Gill Sans Medium.otf');
}